/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
main{
    font-family: sans-serif;
}


.container{
    max-width: 800px;
    margin: 0 auto;
}

.container-small{
    max-width: 700px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

ul{
   list-style-type: none;
}

li{
    margin-left: 20px;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: white;
}

.logo{

}

/* UTILS */

.flex{
    display: flex;
}


/* BUTTONS */
.btn{
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
}

.nav{
    background-color: #ffffff;
    color: #000;
}

.store{
    background-color: #0084fd;
    padding: 10px 30px;
    font-size: 14px;
}

.more{
    background-color: #9792e4;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 600;
}

.linke{
    background-color: #9792e4;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
}

.get{
    background-color: #ffffff;
    padding: 10px 20px;
    color: #9792e4;
    border-radius: 20px;
    font-weight: 600;
}

/* ? MAIN */

/* HEADER */

header{
    background-color: #0084fd;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container{
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* ? JUMBOTRON */
.title-blue{
    font-size: 18px;
    color: #0084fd;
}

.icon-blue{
    color: #0084fd;
    font-size: 50px;
}

#iphone{
    position: relative;
    right: 0;
    top: 42px;
}

.jambo .container{
    background-color: #ffffff;
}

.jambo .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.jambo .card{
    flex-basis: calc(100% / 3 - 20px);
    border: transparent 2px solid;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: #b5ddff;
}

.jambo .big-card{
    display: flex;
    flex-basis: calc(100% / 3 * 2 - 20px);
    margin: 10px;
    border: transparent 2px solid;
    border-radius: 20px;
    background-color: #b5ddff;
}

.jambo .small-card{
    position: relative;
    width: 50%;
    padding: 20px;
}

.jambo p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 20px;
}

/*? PLANNING */
.title-white{
    font-size: 20px;
    margin-bottom: 10px;
}

.planning{
    background-color: #9792e4;
    padding-top: 100px;
    padding-bottom: 100px;
}

.planning .row{
    display: flex;
    margin: 50px;
}

.planning .card-left{
    min-height: 400px;
    width: 50%;
    /* border: black 2px solid; */
    border-radius: 20px;

    font-size: 12px;
    padding: 20px;
    color: #ffffff;
    line-height: 20px;
    
    position: relative;
    align-items: flex-end;
    
}

.planning .card-right{
    min-height: 400px;
    width: 50%;
    /* border: black 2px solid; */
    display: flex;
    padding-top: 100px;
    border-radius: 20px;

    font-size: 12px;
    line-height: 20px;
    
}

.planning .small-card{
    /* border: black 2px solid; */
    margin: 10px auto;
    width: 80%;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    line-height: 20px;
    padding: 30px;
}


.down-arrow{
    background-color: #9792e4;
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    border: transparent 1px solid;
    border-radius: 50%;
    padding-top: 4px;
    margin-top: 20px;
}

/* IMAGE PLANNING */
#planning1{
    width: 100%;
    padding-bottom: 50px;
}

#planning2{
    transform: scale(0.8);
}

/*? TESTIMONIALS */
.testimonials{
}

.testimonials-intro > * {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.title-purple{
    color: #9792e4;
    font-size: 30px;
}

.testimonials .row{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonials .card{
    display: flex;
    border: transparent 2px solid;
    border-radius: 20px;
    align-items: center;
    background-color: #9792e4;
    font-size: 15px;
    color: #ffffff;
}

.testimonials-txt :last-child{
    margin-top: 10px;
}

.testimonials .span{
    vertical-align: middle;
}

.testy-1-img{
    display: inline-block;
    min-width: 150px;
    min-height: 150px;
    background: url(../img/testimonial1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    margin: 20px;
}

.testy-2-img{
    display: inline-block;
    min-width: 150px;
    min-height: 150px;
    background: url(../img/testimonial2.jpg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    margin: 20px;
}

.testy-3-img{
    display: inline-block;
    min-width: 150px;
    min-height: 150px;
    background: url(../img/testimonial3.jpg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    margin: 20px;
}
.testy-1-img{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url(../img/testimonial1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    margin: 20px;
}
.testimonials-txt{
    max-width: 70%;
}


/* ?WITH-US */
.with-us{
    background-color: #9792e4;

}


.with-us .container{
    background-color: #9792e4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.with-us-intro{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}



.with-us .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    
}

.with-us .card{
    flex-basis: calc(100% / 3 - 20px);
    
    border: transparent 2px solid;
    border-radius: 20px;
    margin: 10px;
    background-color: #ffffff;
    font-size: 11px;
    line-height: 15px;
    padding: 20px;
}

.with-us .card >*{
    margin-top: 30px;
}

.card h3{
    color: #9792e4;
    font-size: 50px;
}

.card h5{
    color: #9792e4;
    font-size: 15px;
}

/* ? ABOUT-US */
.about-us{
    background-color: #ffff;
}

.about-us h2{
    color: #9792e4;
    margin-bottom: 20px;
    font-size: 40px;
}

.about-us h3{
    color: #9792e4;
    margin-bottom: 20px;
}

.about-us p{
    margin-bottom: 20px;

    line-height: 30px;
    font-size: 15px;
}

.about-us i{
    color: #9792e4;
    margin-bottom: 20px;
    font-size: 50px;
    position: relative;
    left: 80%;
}



.about-us .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.about-us .big-card{
    min-height: 500px;
    border: black 2px solid;
    width: 70%;
}

.about-us .small-card{
    min-height: 250px;
    border: black 2px solid;
    width: 30%;
    padding: 20px;
}

.about-us-img{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url(../img/about.jpg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    margin: 20px;
}

.more a{
    padding: 0;
}


/*? GET-STARTED */

.get-started{
    background-color: #9792e4;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.get-started >*{
    margin-top: 30px;
}

.row-up span{
    color: #ffffff;
}

.row-up h3{
    color: #ffffff;
    font-size: 30px;
}

.row-up h2{
    color: goldenrod;
    font-size: 50px;
}

.row-up p{
    color: #ffffff;
    font-size: 15px;
}

.row-up .bottone{
    margin: 20px;
}


/*? LAST TITLES */
.last-titles{
    color: #ffffff;
    font-size: 10px;
    background-color: #000;
    text-align: center;
    padding: 50px;
}
/* ! MEDIA QUERY *********************/

@media screen and (max-width: 768px){

}