/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
main{
    font-family: sans-serif;
}


.container{
    max-width: 800px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

ul{
   list-style-type: none;
}

li{
    margin-left: 20px;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: white;
}

.logo{

}

/* UTILS */

.flex{
    display: flex;
}


/* BUTTONS */
.btn{
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
}

.nav{
    background-color: #ffffff;
    color: #000;
}

.store{
    background-color: #0084fd;
    padding: 10px 15px;
    font-size: 14px;
}


/* ? MAIN */

/* HEADER */

header{
    background-color: #0084fd;
    padding: 10px;
    position: sticky;
    top: 0;
}

.header-container{
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* JUMBOTRON */
#iphone{
    transfor
}

.jambo .container{
    background-color: #ffffff;
}

.jambo .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.jambo .col{
    flex-basis: calc(100% / 3);
    padding: 20px;
    border: red 2px solid;
}

.col-jambo{
    flex-basis: 66.6%;
    border: red 2px solid;
    padding: 20px;
}


.jambo .card{
    min-height: 200px;
    border: black 2px solid;
    display: flex;

    
}

.jambo .big-card{
    min-height: 200px;
    border: black 2px solid;

}

.jambo .small-card{
    min-height: 200px;
    border: black 2px solid;
    display: inline-block;

}

.jambo p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 20px;
}

/* PLANNING */
.planning{
    background-color: #9792e4;
}

.planning .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.planning .col{
    flex-basis: calc(100% / 2);
    padding: 20px;
    border: red 2px solid;
}

.planning .card{
    min-height: 250px;
    border: black 2px solid;
}

/* TESTIMONIALS */

.testimonials{
    background-color: #9792e4;
}

.testimonials .row{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
}

.testimonials .col{
    padding: 50px;
    border: red 2px solid;
}

.testimonials .card{
    min-height: 250px;
    border: black 2px solid;
}


/* WITH-US */
.with-us .container{
    background-color: #ffffff;
}

.with-us .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.with-us .col{
    flex-basis: calc(100% / 3);
    padding: 20px;
    border: red 2px solid;
}

.with-us .card{
    min-height: 250px;
    border: black 2px solid;
}

/* ABOUT-US */
.about-us{
    background-color: #9792e4;
}

.about-us .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.about-us .col{
    flex-basis: calc(100% / 2);
    padding: 20px;
    border: red 2px solid;
}

.about-us .card{
    min-height: 250px;
    border: black 2px solid;
}


/* GET-STARTED */

.get-started{
    background-color: #9792e4;
}

.get-started .row{
    
}

.get-started .col{
    padding: 50px;
    border: red 2px solid;
}

.get-started .card{
    min-height: 250px;
    border: black 2px solid;
}



/* ! MEDIA QUERY */

@media screen and (max-width: 768px){

}