/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
main{
    font-family: sans-serif;
}


.container{
    max-width: 800px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

ul{
   list-style-type: none;
}

li{
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.logo{

}

/* UTILS */

.flex{
    display: flex;
}

/* ? MAIN */

/* HEADER */

header{
    background-color: #0084fd;
    padding: 10px;
    position: sticky;
}

.header-container{
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* JUMBOTRON */
.jambo .container{
    background-color: #ffffff;
}

.jambo .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.jambo .col{
    flex-basis: calc(100% / 3);
    padding: 20px;
    border: red 2px solid;
}

.col-jambo{
    flex-basis: 66.6%;
    border: red 2px solid;
    padding: 20px;
}


.jambo .card{
    min-height: 250px;
    border: black 2px solid;
}

/* PLANNING */
.planning{
    background-color: #9792e4;
}

.planning .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.planning .col{
    flex-basis: calc(100% / 2);
    padding: 20px;
    border: red 2px solid;
}

.planning .card{
    min-height: 250px;
    border: black 2px solid;
}

/* TESTIMONIALS */

.testimonials{
    background-color: #9792e4;
}

.testimonials .row{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
}

.testimonials .col{
    padding: 50px;
    border: red 2px solid;
}

.testimonials .card{
    min-height: 250px;
    border: black 2px solid;
}